.card{
	margin-bottom: 5px;
}

.card-text{
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr;
}
.title{
	font-size: large;
}

.detail{
	display: grid;
	justify-items: left;
	align-items: center;
}

.detail-list-container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.story-line{
	margin: 0 auto;
	max-width: 80vw;
	height: 100px !important;
	word-wrap: break-word;
	overflow-wrap: break-word;
	hyphens: auto;
}

.item{

}