.card{
	margin-bottom: 5px;
}

.card-text{
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr;
}
.title{
	font-size: large;
}

.detail{
	display: grid;
	align-items: center;
}

.detail-list-container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

.story-type{
	font-style: italic;
}

.story-line{
	display: grid;
	max-width: 90vw;
}

.item{

}